{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% include "include/head_links.html" %}
</head>

<body>
    <!-- Topbar Start -->
    {% include 'include/topbar.html' %}
    <!-- Topbar End -->


    <!-- Navbar Start -->
   {% include 'include/navbar.html' %}
    <!-- Navbar End -->

    {% block main %}
        
    {% endblock %} }


  <!-- Footer Start -->
    {% include 'include/footer.html' %}
    <!-- Footer End -->
    
 {% include 'include/footer_links.html' %}

</body>

</html>